* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: "Play", sans-serif;
    color: black;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1vh 5vw 1vh 5vw;
    background-color: black;
    color: white;
    border-bottom: solid 2px #FF8000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.05);
    z-index: 1000;
}

.header-logo {
    font-family: "Reggae One", sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.header-logo a {
    text-decoration: none;
    color: inherit;
}

.header-logo a span {
    color: #FF8000;
}

.header-menu {
    display: none;
}

section.banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15vh 5vw 10vh 5vw;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 45%;
    filter: grayscale(20%);
    border-bottom: solid 1px #FF8000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.05);
}

section.banner p {
    font-family: "Play", sans-serif;
    font-size: 3em;
    font-weight: bold;
    transform: rotate(-10deg);
    text-align: center;
    text-shadow: 1px 1px #FF8000, 2px 2px 4px black;
    color: #8C1616;
}

section.banner a {
    font-family: "Reggae One", sans-serif;
    font-size: 5em;
    font-weight: bold;
    text-decoration: none;
    transform: rotate(-10deg);
    text-shadow: 1px 1px #FF8000, 2px 2px 4px black;
    color: white;
    animation: wobble 2s infinite;
}

section.about {
    display: flex;
    flex-direction: column;
    padding: 5vh 5vw 5vh 5vw;
    gap: 5vh;
}

section.about .container {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    padding: 2.5vh 2.5vw 2.5vh 2.5vw;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.05);
}

section.about .container .separator {
    width: 80%;
    height: 1px;
    margin: auto;
    background-color: #FF8000;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(255, 128, 0, 0.2), 0 15px 40px rgba(225, 128, 0, 0.05);
}

section.about h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px black, 2px 2px 4px black;
    color: #FF8000;
}

section.about p {
    font-size: 1.5em;
    text-align: justify;
    text-align-last: center;
}

@media only screen and (min-width: 768px) {
    .header-menu {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
        gap: 2vw;
        font-size: 1.5em;
        text-transform: uppercase;
    }

    .header-menu a {
        text-decoration: none;
        color: inherit;
    }

    .header-menu a:hover, .header-menu a.selected {
        color: #FF8000;
    }

    section.banner p {
        font-size: 4em;
    }

    section.banner a {
        font-size: 6em;
    }
}

@media only screen and (min-width: 1024px) {
    section.about {
        flex-direction: row;
        gap: 5vw;
    }
}

@keyframes wobble {
    0% {
        transform: rotate(-9deg);
    }

    70% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(-9deg);
    }
}