* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: "Play", sans-serif;
    color: black;
    min-height: 200vh;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 15px 30px 15px 30px;
    min-height: 5vh;
    background-color: black;
    color: white;
    border-bottom: solid 2px #FF8000;
    box-shadow: 0 -6px 10px 5px black;
    z-index: 1000;
}

.header-logo {
    margin-right: 30px;
    font-family: "Reggae One", sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.header-logo > a {
    text-decoration: none;
    color: inherit;
}

.header-logo > a > span {
    color: #FF8000;
}

.header-menu {
    display: none;
}

section.banner {
    display: none;
}

@media only screen and (min-width: 768px) {
    .header-menu {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
        font-size: 1.5em;
        text-transform: uppercase;
    }

    .header-menu > a {
        text-decoration: none;
        color: inherit;
    }

    .header-menu > a:hover, a.selected {
        color: #FF8000;
    }

    section.banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 45vh;
        background-image: url("../img/background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 45%;
        filter: grayscale(20%);
        border-bottom: solid 1px #FF8000;
        box-shadow: 0 -6px 10px 5px black;
    }

    section.banner > p {
        align-self: flex-end;
        margin-right: 5vw;
        font-family: "Play", sans-serif;
        font-size: 4em;
        font-weight: bold;
        transform: rotate(-10deg);
        text-shadow: 3px 3px #FF8000, 6px 6px 5px black;
        color: #8C1616;
    }

    section.banner > a {
        align-self: flex-end;
        margin-right: 5vw;
        font-family: "Reggae One", sans-serif;
        font-size: 6em;
        font-weight: bold;
        text-decoration: none;
        transform: rotate(-10deg);
        text-shadow: 3px 3px #FF8000, 6px 6px 5px black;
        color: white;
        animation: pulse 2s infinite;
    }

    @keyframes pulse {
        0% {
            transform: rotate(-9deg);
        }

        70% {
            transform: rotate(-10deg);
        }

        100% {
            transform: rotate(-9deg);
        }
    }
}